<!DOCTYPE html>
<html>

	<head>
	
		<title>{{ site.name }}</title>
		
		<meta charset='utf-8' /> 
		
		<meta name="description" content="{{ site.description }}" />
		
		<meta name="keywords" content="disorientation, disorientation guides, university" />
		
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		
	</head>

	<body>
	
		<div id="main-wrapper">

			<div id="header-wrapper">
		
				<div id="page-title"><h1><a href="http://dis-orientation.info">Disorientation</a></h1></div><!-- END page-title div-->
				
				<div id="header">
					<ul>
						<li><a href="http://dis-orientation.info">Home</a></li>
						<li><a href="http://dis-orientation.info/universities">Universities</a></li>
						<li><a href="http://dis-orientation.info/involved">Get Involved</a></li>
						<li><a href="http://dis-orientation.info/about">About</a></li>
						<li><a href="http://dis-orientation.info/contact">Contact</a></li>
					</ul>
				</div><!-- END header div-->
			
			</div><!-- END header-wrapper div-->
			
			<div id="content-wrapper">
